{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}
<div id="about">
    <div class="guide">
        <h3>
            Create
        </h3>
        <div>
            <img class="pi">
            <span></span>
        </div>
    </div>
    <div class="guide">
        <h3>
            Index
        </h3>
        <div>
            <img class="pi" src="">
            <span></span>
        </div>
    </div>
    <div class="guide">
        <h3>
            Lists
        </h3>
        <div>
            <img class="pi">
            <span></span>
        </div>
    </div>
</div>
{% endblock %}