{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}
<form action="/login" method="post" style="padding-top: 2rem;">
    <!-- Username -->
    <div class="mb-2 rl">
        <label for="username">
            <i class="fa fa-user" aria-hidden="true"></i>
        </label>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
    </div>
    <!-- Password -->
    <div class="rl">
        <label for="password">
            <i class="fa fa-key" aria-hidden="true"></i>
        </label>
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required style="margin-bottom: 10px;">
        <small id="passwordHelpBlock" class="form-text text-muted" style="margin-left: 95px; opacity: 0;">
            Your password must at least be 8 letters long.
        </small>
    </div>
    <!-- Submit -->
    <button class="btn btn-primary" type="submit" style="width: 50%;">Log In</button>
</form>
</div>
{% endblock %}